#conatiner
{
display: inline-block;
}
#details
{
position: absolute;
left:20%;
display: inline-block;

}
#details img{
    width:300px;
    height: 400px;
    box-sizing: 2px solid white;
}
body{
   
    background-color: #030303;
    color: white;
}
h1{
    font-size:60px;
    text-align: left;
}
h2{
    font-size: 40px;
    display: inline;
    
}
#more-details
{   background-color: rgb(148, 3, 3);
    position: relative;
    left:-15%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
#return-pages
{
    float: left;
    widows: 70px;
    height:40px;
    background-color:rgb(238, 9, 9);
    color: white;
   
}
#return-pages a{
    color:#152238;
    font-size:20px;
    text-decoration: none;
    padding:5px;
    
}
#favourites
{
    float: right;
    color: rgb(240, 11, 11);
    position: relative;
    top:20%;
    color: white;

}
#head
{
    text-align: center;
    color: white;
}